<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.surname %>
      </h1>
    </td>
    <td class="sidebar round">
    	<strong>Surname</strong> <%= @user.surname %><br />
      	<strong>Firstname</strong> <%= @user.firstname %><br />
		<strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>
