<%= form_for(@bilan) do |f| %>
  <% if @bilan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bilan.errors.count, "error") %> prohibited this bilan from being saved:</h2>

      <ul>
      <% @bilan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<!--
	<%=
	# fields_for :ordonnance do |o|
	%>
		<%=
		# o.label :numero 
		%>
		<%=
		# o.text_field :numero 
		%>
	<% 
	# end
	%>
	-->
<div class="field">
	<%= f.fields_for :ordonnance do |o| %>
	<%= o.label :numero ,"Numero de l'ordonnance"%>
	<%= o.text_field :numero %>
	<% end%>
</div>  
<div class="field">
    <%= f.label :initial %>
    <%= f.text_field :initial %>
  </div>
<div class="field">
    <%= f.label :ordonnance_id %>
    <%= f.text_field :ordonnance_id %>
  </div>
  <div class="field">
    <%= f.label :date_initial %>
    <%= f.text_field :date_initial ,:class => 'datepicker' %>
  </div>
  <div class="field">
    <%= f.label :intermediaire %>
    <%= f.text_field :intermediaire %>
  </div>
  <div class="field">
    <%= f.label :date_intermediaire %>
    <%= f.text_field :date_intermediaire, :class => 'datepicker' %>
  </div>
  <div class="field">
    <%= f.label :final %>
    <%= f.text_field :final %>
  </div>
  <div class="field">
    <%= f.label :date_final %>
    <%= f.text_field :date_final, :class => 'datepicker' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
