<p id="notice"><%= notice %></p>
<%= button_link_to 'Voir l\'ordonnance du bilan', ordonnance_path(@bilan.ordonnance) %> <br />
<p>
  <b>Initial:</b>
  <%= @bilan.initial %>
</p>

<p>
  <b>Date initial:</b>
  <%= @bilan.date_initial %>
</p>

<p>
  <b>Intermediaire:</b>
  <%= @bilan.intermediaire %>
</p>

<p>
  <b>Date intermediaire:</b>
  <%= @bilan.date_intermediaire %>
</p>

<p>
  <b>Final:</b>
  <%= @bilan.final %>
</p>

<p>
  <b>Date final:</b>
  <%= @bilan.date_final %>
</p>


<%= button_link_to 'Modifier', edit_bilan_path(@bilan) %> |
<%= button_link_to 'Voir tous les bilans', bilans_path %>
