<%= form_for(:session, :url => sessions_path) do |f| %>
	<div data-role="fieldcontain">
		<%= f.label :email %>
		<%= f.email_field :email , :title =>"email" %>
	</div>
	<div data-role="fieldcontain">
  		<%= f.label :password %>
		<%= f.password_field :password , :title => "Mot de passe" %>
	</div>
	
	<%= f.submit @title, "data-role" => "button"%>
	
<% end %>