<%= form_for(:session, :url => sessions_path) do |f| %>
	<ul class ="form">
		<li><%= f.label :email %></li>
		<li><%= f.email_field :email , :title =>"email" %></li>
  		<li><%= f.label :password %></li>
		<li><%= f.password_field :password , :title => "Mot de passe" %></li>
	</ul>
	<ul >
    	<li><%= f.submit @title%></li>
	</ul>
<% end %>