<%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
   <%=fields_for @patient , {} do |t|%><!-- TODO : Audric : Voici un exemple de formulaire à plusieurs objets-->
   <%= kine_text_fied_edit(t , :nom) %>
    <%end%>
    <%= search_pill_button_link_to "Rechercher un patient", patients_path %>
</br></br>
	<%= f.label :date %><br />
 	<%= f.date_select :date_debut %>

	<%= kine_text_fied_edit(f , :duree) %>

	<%= f.label :commentaire %><br />
 	<%= f.text_area :commentaire %>

    </br></br>

   <%= f.label :ordonnance %><br /><p>Saisissez le numero ou recherchez l'ordonnance correspondante</p>
   <%= f.text_field :ordonnance %>
   <%= search_pill_button_link_to "", ordonnances_path %>


    </br></br>
   </div>
