<h1> <%=@title%> </h1>
<p>Find me in app/views/seances/edit.html.erb</p>

<%= form_for(@seance) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'fields', :f=>f%>

  <div class="actions">
    <%= f.submit "Créer", :class => "button" %>
  </div>
<% end %>