<h1> <%=@title%> </h1>

<%= form_for(@seance) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'fields', :f=>f%>

  <div class="actions">
    <%= link_to "Annuler" , seances_path  , :class => "button" %>
    <%= f.submit "Créer", :class => "button" %>
  </div>
<% end %>