<h1>Seance numero <%= "#{@seance.id}"%></h1>

<%= link_to "Modifier", edit_seance_path(@seance), :class => "button" %>
<%= link_to "Supprimer", @seance, :method => :delete,
 									  :class => "button",
								   	  :confirm => "Etes vous certain?",
                          	  	      :title => "Supprimer la seance #{@seance.id}" %>

		</br>
		<div class="field">
    		<strong>Numero</strong><br />
    		<%=  @seance.id %>
  		</div>
		<div class="field">
    		<strong>Praticien</strong><br />
    		<%=  @seance.user.prenom %>
    		<%=  @seance.user.nom %>
  		</div>
 		<div class="field">
			<strong>Patient</strong><br />
			<%=  @seance.patient.prenom %>
    		<%=  @seance.patient.nom %>
  		</div>
  		<div class="field">
			<strong>Date debut</strong><br />
    		<%=  @seance.date_debut %>
  		</div>
  		<div class="field">
			<strong>Commentaires</strong><br />
    		<%=  @seance.commentaire %>
	  	</div>
  		<div class="field">
			<strong>Ordonnance</strong><br />
    		<%=  @seance.ordonnance.numero %>
			<%=  @seance.ordonnance.date %>
	  	</div>
  		<div class="field">
			<strong>Effectuee a domicile</strong><br />
    		<%=  @seance.a_domicile %>
	  	</div>

<%= link_to "Retour", seances_path, :class => "button" %>