<table class="profile" summary="Profile information">
 <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
		<%= "#{@user.nom}  #{@user.prenom}" %>
      </h1>
   </td>
    <td class="sidebar round">
    	<strong>Nom</strong> <%= @user.nom %> <br/>
      	<strong>Prénom</strong> <%= @user.prenom %> <br/>
		<strong>Email</strong> <%= @user.email %> <br/>
		<strong>Téléphone</strong> <%= @user.telephone %> <br/>
		<strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>