<h1>Tous les rendez-vous</h1>

<%= add_button_link_to "Créer Rdv", new_rdv_path %>

<table>
  <tr>
	<th>Patient</th>
    <th>Lieu</th>
    <th>Contact</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rdvs.each do |rdv| %>
  <tr>
    <td><%= rdv.patient.prenom %> <%= rdv.patient.nom %></td>
    <td><%= rdv.lieu %></td>
    <td><%= rdv.contact %></td>
    <td><%= rdv.date %></td>
    <td><%= button_link_to 'Voir', rdv %></td>
    <td><%= button_link_to 'Modifier', edit_rdv_path(rdv) %></td>
    <td><%= button_link_to 'Supprimer', rdv, :confirm => 'Etes-vous certain de vouloir supprimer le rendez-vous?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
