<h1>Tous les rendez-vous</h1>

<%= add_button_link_to "Créer Rdv", new_rdv_path %>

<table>
  <tr>
    <th>Lieu</th>
    <th>Contact</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rdvs.each do |rdv| %>
  <tr>
    <td><%= rdv.lieu %></td>
    <td><%= rdv.contact %></td>
    <td><%= rdv.date %></td>
    <td><%= link_to 'Show', rdv %></td>
    <td><%= link_to 'Edit', edit_rdv_path(rdv) %></td>
    <td><%= link_to 'Destroy', rdv, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
