<p id="notice"><%= notice %></p>

<p>
  <b>Patient:</b>
  <%= @rdv.patient.prenom %> <%= @rdv.patient.nom %>
</p>

<p>
  <b>Lieu:</b>
  <%= @rdv.lieu %>
</p>

<p>
  <b>Contact:</b>
  <%= @rdv.contact %>
</p>

<p>
  <b>Date:</b>
  <%= @rdv.date %>
</p>


<%= button_link_to 'Modifier', edit_rdv_path(@rdv) %> |
<%= button_link_to 'Retour', rdvs_path %>
