<div class="container">
		<div class="span-5 border">
			<%= link_to( (logo :fichier=>"seance2.png") ,  seances_path) %>
		</div>

		<div class="span-5 append-4 border">
			<%= link_to( (logo :fichier=>"RDV2.png") ,  patients_path) %>
		</div>
		<div class="span-5">
			<%= link_to( (logo :fichier=>"ordonnance2.png") ,  ordonnances_path) %>
		</div>
		<div class="span-5 append-4 border">
			<%= link_to( (logo :fichier=>"patient2.png") ,  patients_path) %>
		</div>
		<div class="span-5 append-4 border">
			<%= link_to( (logo :fichier=>"settings2.png") ,  current_user) %>
		</div>
		<div class="span-5">
			<%= link_to( (logo :fichier=>"praticien2.png") ,  users_path) %>
		</div>
		
</div>