<div class="ui-grid-a center">
	<div class="ui-block-a "><%= link_to( (logo :fichier=>"seance.png") ,  seances_path) %></div>
	<div class="ui-block-b"><%= link_to( (logo :fichier=>"rdv.png") ,  patients_path) %></div>
	<div class="ui-block-a"><%= link_to( (logo :fichier=>"ordonnance.png") ,  ordonnances_path) %></div>
	<div class="ui-block-b"><%= link_to( (logo :fichier=>"patient.png") ,  patients_path) %></div>
	<div class="ui-block-a"><%= link_to( (logo :fichier=>"tools.ico") ,  current_user) %></div>
	<div class="ui-block-b"><%= link_to( (logo :fichier=>"praticien.png") ,  users_path) %></div>
</div><!-- /grid-a -->