<h1>Patient | <%=@mode%></h1>
<p>Find me in app/views/patient/edit.html.erb</p>
<%= form_for @patient , :validate => true do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>

<% @onglets = ["Onglet 1","Onglet 2", "Onglet 3"]%>
<% @onglet_selected = 1 %>
<%=kine_onglets @onglets, @onglet_selected%>
<%=kine_debut_contenu_onglets%> 
	<%=kine_debut_contenu_onglet 1, true%> 




<!%=f.autocomplete_field :adresse, autocomplete_ville_nom_patients_path %>

				<%= kine_collection_select_edit(f , :civilite , :civilite_id, @civiliteList, :id, :nom	) %>
				<%= kine_text_fied_edit(f , :nom , false , false) %> <!-- ici je dis que je veux pas de label personalisé mais que je veux readonly = true -->
				<%= kine_text_fied_edit(f , :prenom , "Prénom") %>
				<%= kine_mail_fied_edit(f , :email ,"E-mail") %>
				<%= kine_telephone_fied_edit(f , :telephone , "Téléphone") %>
				
				<%=fields_for @adresse , :validate => true do |t|%><!-- TODO : Audric : Voici un exemple de formulaire à plusieurs objets-->
					<%= kine_text_fied_edit(t , :numero) %>
					<%= kine_text_fied_edit(t , :rue) %>
					<%= kine_text_fied_edit(t , :complement_adresse) %>
					<!--%= kine_collection_select_edit(t , :ville , :ville_id, @villeList, :id, :nom	) %-->
  				<%end%>

				<%=fields_for @ville , :validate => true do |t|%><!-- TODO : Audric : Voici un exemple de formulaire à plusieurs objets-->
					<%= kine_text_fied_edit(t , :ville_token , "Ville") %><!% autocomplete  %>
  				<%end%>
				
	<%= kine_fin_contenu_onglet 1%>
	<%= kine_debut_contenu_onglet 2%>
	<%= kine_fin_contenu_onglet 2%>
	<%= kine_debut_contenu_onglet 3%>
	<%= kine_fin_contenu_onglet 3%>
		
<%= kine_fin_contenu_onglets%>

	<div class="actions">
		<%= f.submit "Enregistrer" %>
		<%= link_to "Annuler" , @patient  , :class => "button round" %>
	</div>
<% end %>
