<h1>Patient | <%=@mode%></h1>
<p>Find me in app/views/patient/edit.html.erb</p>


<%= form_for(@patient) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :nom %><%= f.text_field :nom %><br>
		<%= f.label :prenom %><%= f.text_field :prenom %><br>
		<%= f.label :email %><%= f.email_field :email %><br>
		<%= f.label :telephone %><%= f.telephone_field :telephone %><br>
		<%= f.label :civilite %><%= f.collection_select(:civilite_id , Civilite.all , :id , :nom)%>
	</div>
	<div class="actions">
		<%= f.submit "Enregistrer" %>
		<%= link_to "Annuler", @patient  , :class => "button round" %>
	</div>
<% end %>

