<h1>Patient | <%=@mode%></h1>
<p>Find me in app/views/patient/edit.html.erb</p>

<%= form_for @patient , :validate => true do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>

	<div id="mes_onglets">
		<ul class="liste_onglet" >
			<li id="o_1" class="mon_onglet_selected" onclick="changeOnglet(this);">Onglet 1</li>
			<li id="o_2" class="mon_onglet" onclick="changeOnglet(this);">Onglet 2</li>
			<li id="o_3" class="mon_onglet" onclick="changeOnglet(this);">Onglet 3</li>
			<li id="o_4" class="mon_onglet" onclick="changeOnglet(this);">Onglet 4</li>
			<li class="mon_onglet"><a href="http://www.google.fr" target="_blank">Lien vers google</a></li>
			<div class="clear"></div>
		</ul>
	</div>

	<div class="field">
		<div id="mes_contenus">
			<div id="co_1" class="mon_contenu">
				<%= kine_collection_select_edit(f , :civilite , :civilite_id, @civiliteList, :id, :nom	) %>
				<%= kine_text_fied_edit(f , :nom , false , false) %> <!-- ici je dis que je veux pas de label personalisé mais que je veux readonly = true -->
				<%= kine_text_fied_edit(f , :prenom , "Prénom") %>
				<%= kine_mail_fied_edit(f , :email ,"E-mail") %>
				<%= kine_telephone_fied_edit(f , :telephone , "Téléphone") %>
				
				<%=fields_for @adresse , :validate => true do |t|%><!-- TODO : Audric : Voici un exemple de formulaire à plusieurs objets-->
					<%= kine_text_fied_edit(t , :nom ,"Adresse") %>
					<%= kine_collection_select_edit(t , :ville , :ville_id, @villeList, :id, :nom	) %>
  				<%end%>
				
				
			</div>
			<div id="co_2" class="mon_contenu" style="display: none;">
			
			</div>
			<div id="co_3" class="mon_contenu" style="display: none;">
			
			</div>
			<div id="co_4" class="mon_contenu" style="display: none;">
			
			</div>
		</div>
	</div>
	<div class="actions">
		<%= f.submit "Enregistrer" %>
		<%= link_to "Annuler" , patients_path  , :class => "button round" %>
	</div>
<% end %>
