<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://maps-api-ssl.google.com/maps/api/js?v=3&sensor=true"></script>
<script type="text/javascript">
/*On g&eacute;ocode toutes les address et on les mets dans un tableau
expos chaque valeur de expo sera un tableau qui contient lat, long,
information sur l'expo*/
	var geo_adresses = new Array(); // C'est dans ce tableau qu'on récupère les adresses qu'on veut géocoder.
	codeAddress('51 rue des ruelles 91300 MASSY','<%=link_to("#{@patient.nom} #{@patient.prenom}", @patient)%> , <%="#{@adresse.concat}" %>', geo_adresses);//Cette fonction est dans application.js
	google.load("visualization", "1", {packages:["map","table"]});
			google.setOnLoadCallback(drawMap);
			function drawMap() {
        		var data = new google.visualization.DataTable();
    		    data.addColumn('number', 'Lat');
    		    data.addColumn('number', 'Lon');
        		data.addColumn('string', 'Name');
        		//data.addColumn('string', 'Description');
        		//data.addRow([10.2222,10.22," Pierre"]);
       			for (var j=0 ; j<geo_adresses.length ; j++){ 
        			data.addRow([geo_adresses[j][0],geo_adresses[j][1],geo_adresses[j][2]+" "]);
       			}
        	var dataView = new google.visualization.DataView(data);
       		//dataView.setColumns([0,1,2]);
      		map = new google.visualization.Map(document.getElementById('map'));
      		map.draw(dataView, {showTip: true});
			//document.getElementById('map').height="60%" 
			//document.getElementById('map').width="50%"
	}
</script>


<h1><%= @title%></h1>
<div class="view_form">
<div class="actions button-container centrage">
	<%=kine_onglets @onglets, @onglet_selected%>
	<div class="button-group right">
		<%= add_button_link_to "Créer ordonnance", new_ordonnance_path(:patient => @patient) %>
	</div>
</div>

<%=kine_debut_contenu_onglets%> 
	<%=kine_debut_contenu_onglet 1, true%> 

		<%= kine_display_view("Nom", @patient.nom)%><br/>
		<%= kine_display_view("Prénom", @patient.prenom)%><br/>
		<%= kine_display_view("Email", @patient.email)%><br/>
		<%= kine_display_view("Téléphone", @patient.telephone)%><br/>
		<%= kine_display_view("Civilité", @patient.civilite.nom)%><br/>
		
		<%= kine_display_view("Numero", @adresse.numero)%><br/>
		<%= kine_display_view("Rue", @adresse.rue)%><br/>
		<%= kine_display_view("Complément adresse", @adresse.complement_adresse)%><br/>
		<%= kine_display_view("Ville", @ville.nom)%><br/>
		<%= kine_display_view("Département", @departement.nom)%><br/>


	<%= kine_fin_contenu_onglet 1%>
	<%= kine_debut_contenu_onglet 2%>

			<table class="pretty">
			  <tr>
				<th>Numero</th>
				<th>Date d'emission</th>
			   	<th>Pathologie</th>
			 	<th>Nombre de seances</th>  
				<th>Médecin</th>
			  </tr>
			  <% @ordonnances.each do |f| %>
			    <tr>
			      <td><%= link_to f.numero, ordonnance_path(f) %></td>
			      <td><%= f.date %></td>
			      <td><%= f.pathologie %></td>
				  <td><%= f.nombre_seances %></td>  
				  <td><%= f.med %></td>
				  <td><%= add_button_link_to "Seance", new_seance_path(:patient => @patient , :ordonnance => f) %></td>
			    </tr>
			  <% end %>
			</table>

	<%= kine_fin_contenu_onglet 2%>
	<%= kine_debut_contenu_onglet 3%>
			<h3>Voici la carte qui mène à votre patient <%= "#{@patient.nom} #{@patient.prenom}"%></h3>
			<div id="map" height="60%" width="50%"></div>
		L'adresse de votre patient <%= "#{@patient.nom} #{@patient.prenom}, #{@adresse.concat}"%>
	<%= kine_fin_contenu_onglet 3%>
		
<%= kine_fin_contenu_onglets%>


<br/>
<div class="actions button-container">
	
	<div class= "button-group">
		<%= button_link_to "Retour à la liste des patients", patients_path%>
	</div>
	<div class= "button-group right">
		<%= edit_button_link_to "Modifier", edit_patient_path(@patient) %>
		<%= negative_trash_button_link_to "Supprimer", @patient, :method => :delete  , 
											:confirm => "Voulez-vous vraiment supprimer #{Civilite.find(@patient.civilite_id).nom} #{@patient.nom} #{@patient.prenom} ?",
											:title => "Supprimer #{Civilite.find(@patient.civilite_id).nom} #{@patient.nom} #{@patient.prenom}"
	%>
	</div>
</div>


</div>