<h1>Patient | <%=@mode%></h1>
<p>Find me in app/views/patient/show.html.erb</p>



<%= kine_display_view("Nom", @patient.nom)%><br/>
<%= kine_display_view("Prénom", @patient.prenom)%><br/>
<%= kine_display_view("Email", @patient.email)%><br/>
<%= kine_display_view("Téléphone", @patient.telephone)%><br/>
<%= kine_display_view("Civilité", @patient.civilite.nom)%><br/>

<%= kine_display_view("Numero", @adresse.numero)%><br/>
<%= kine_display_view("Rue", @adresse.rue)%><br/>
<%= kine_display_view("Complément adresse", @adresse.complement_adresse)%><br/>
<%= kine_display_view("Ville", @ville.nom)%><br/>
<%= kine_display_view("Département", @departement.nom)%><br/>

<br/>
<%= link_to "Modifier", edit_patient_path(@patient) , :class => "button round" %>
<%= link_to "Supprimer", @patient, :method => :delete  , 
									:confirm => "Voulez-vous vraiment supprimer #{Civilite.find(@patient.civilite_id).nom} #{@patient.nom} #{@patient.prenom} ?",
									:title => "Supprimer #{Civilite.find(@patient.civilite_id).nom} #{@patient.nom} #{@patient.prenom}" ,
									:class => "button round" %>
<%= link_to "Retour à la liste des patients", patients_path, :class => "button round" %>