<%= render 'shared/error_messages', :object => f.object %>

<%=kine_onglets @onglets, @onglet_selected%>

<%=kine_debut_contenu_onglets%> 
	<%=kine_debut_contenu_onglet 1, true%>
	<!-- Onglet1 contenu : pathologie , praticien, patient medecin, commentaire, nombre de seance--> 

 		<div class="field">
		  <%= f.label :date %>
	        <%= f.text_field :date , :class => 'datepicker'%>
	    </div>
		<div class="field">
	    	<%= f.label :patient_token, "Patient" %>
	    	<%= f.text_field :patient_token, "data-pre" => @patient_pre.to_json  %>
	  	</div>
		<%= kine_text_fied_edit f, :numero %>
		<%= kine_text_fied_edit f, :pathologie %>
		<!-- Champ avec autocompletion-->
		<div class="field">
	    	<%= f.label :user_tokens, "Praticiens" %>
	    	<%= f.text_field :user_tokens, "data-pre" => @ordonnance.users.to_json  %>
	  	</div>

		<!--<= #kine_collection_select_edit f,:patient, :patient_id, @patientsList, :id, :nom%>-->
		<!-- Champ avec autocompletion-->
	
		<div class="field">
	    	<%= f.label :medecin_token, "Medecin" %>
	    	<%= f.text_field :medecin_token, "data-pre" => @medecin_pre.to_json  %>
	  	</div>
  		<div class="field">
			<%= f.label :nombre_seances, "Nombre de séances" %>
 			<%= f.number_field :nombre_seances %>
  		</div>
		<!-- TODO: BOUTON ACCORD PREALABLE SECU-->
	<%= kine_fin_contenu_onglet 1%>

	<% if !@ordonnance.id.nil?%>
	<%= kine_debut_contenu_onglet 2%>
	<!-- On doit avoir le bilan dans cet onglet (bilan initial, bilan final)-->
	<% if @ordonnance.bilan.nil?%>
		<%= add_button_link_to "Effectuer un bilan", new_bilan_path %>
	<%else%> <!--TODO Pierre Je ne suis pas sur que ça fonctionne il faut peut être creer une variable bilan -->
		<%= f.fields_for :bilan do |b| %>
			<div class="field">
			    <%= b.label :initial %>
			    <%= b.text_field :initial %>
			  </div>

			  <div class="field">
			    <%= b.label :date_initial %>
			    <%= b.text_field :date_initial ,:class => 'datepicker' %>
			  </div>
			  <div class="field">
			    <%= b.label :intermediaire %>
			    <%= b.text_field :intermediaire %>
			  </div>
			  <div class="field">
			    <%= b.label :date_intermediaire %>
			    <%= b.text_field :date_intermediaire, :class => 'datepicker' %>
			  </div>
			  <div class="field">
			    <%= b.label :final %>
			    <%= b.text_field :final %>
			  </div>
			  <div class="field">
			    <%= b.label :date_final %>
			    <%= b.text_field :date_final, :class => 'datepicker' %>
			<% unless b.object.new_record? %>
			<br />
			      <% # Don't forget to name both of these '_destroy' in Rails 3 %>
			      <%= b.check_box '_destroy' %>
			      <%= b.label '_destroy', 'Supprimer' %>
			    <% end %>
		<% end %>
	<% end %>
	<%= kine_fin_contenu_onglet 2%>
	<%= kine_debut_contenu_onglet 3%>
	<div class="field">
		<%= f.label :caisse %><br />
		<%= f.select :caisse, [['Secu', 1], ['Smerep', 2]] %> <!--TODO: Mapper avec uen table de prise en charge plutot avec un 	collection_select -->
	</div>
	<div class="field">
		<%= f.label :mutuelle %><br />
		<%= f.select :mutuelle, [['Smam', 1], ['mutuelle', 2]] %> <!--TODO: Mapper avec uen table de prise en charge plutot avec un collection_select -->
	</div>

  		<div class="field">
			<%= f.label :prise_en_charge %><br />
 			<%= f.select :prise_en_charge, [['Prise en charge 1', 1], ['Prise en charge 2', 2]] %> <!--TODO: Mapper avec uen table de prise en charge plutot avec un collection_select -->
  		</div>
  		<div class="field">
			<%= f.label :type_prise_en_charge , "Type de prise en charge"%><br />
 			<%= f.select :type_prise_en_charge, [['100%', 1], ['20%', 2]] %> <!--TODO: Mapper avec uen table de prise en charge plutot avec un collection_select -->
  		</div>

  		<div class="field">
			<%= f.label :paye, "Seance Paye ?" %><br />
 			<%= f.check_box :paye %>
  		</div>

	<%= kine_fin_contenu_onglet 3%>
	<% end %>	
<%= kine_fin_contenu_onglets%>