<%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :numero %><br />
    <%= f.text_field :numero %>
  </div>
 <div class="field">
    <%= f.label :pathologie %><br />
    <%= f.text_field :pathologie %>
  </div>
  <div class="field">
	<%= f.label :date %><br />
 	<%= f.date_select :date %>
  </div>
	
	<div class="field">
	<%= f.label :prise_en_charge %><br />
 	<%= f.select :prise_en_charge, [['Secu', 1], ['Smerep', 2]] %> <!--TODO: Mapper avec uen table de prise en charge plutot avec un collection_select -->
  </div>
  <div class="field">
	<%= f.label :paye, "Seance Paye ?" %><br />
 	<%= f.check_box :paye %>
  </div>
	
    <!--            :pathologie,
  #              :type_prise_en_charge,
#                :paye,
 #               :nombre_seances,
                :bilan,
                :caisse,
                :mutuelle-->