<h1><%= @title%></h1>
<%= render 'search'%>
<%= will_paginate %>
<ul class="ordonnances">
	<%= render @ordonnances %> <!-- En faite rails comprend que il doit appeler render pour chaque ordonnance dans @ordonnances-->
</ul>
<%= will_paginate %>
