<h1> <%=@title%> </h1>
<%=onglets @onglets, @onglet_selected%>
<%= form_for(@ordonnance) do |f| %>
  <%= render 'fields', :f=>f%>
  <div class="actions">
    <%= f.submit "Créer", :class => "button" %>
  </div>
<% end %>

