<h1>Ordonnances numero <%= "#{@ordonnance.numero}"%></h1>
<%= link_to "Modifier", edit_ordonnance_path(@ordonnance), :class => "button" %>
<%= link_to "Supprimer", @ordonnance, :method => :delete,
 									  :class => "button",
								   	  :confirm => "Etes vous certain?",
                          	  	      :title => "Supprimer l'ordonnance #{@ordonnance.numero}" %>
<%= add_button_link_to "Seance",{ :controller => "seances", :action => "new", :ordonnance => @ordonnance }  %>
<%=kine_onglets @onglets, @onglet_selected%>
<%=kine_debut_contenu_onglets%> 
	<%=kine_debut_contenu_onglet 1, true%> 
		<div class="field">
    		<strong>Numero</strong><br />
    		<%=  @ordonnance.numero %>
  		</div>
 		<div class="field">
			<strong>Pathologie</strong><br />
    		<%=  @ordonnance.pathologie %>
  		</div>
  		<div class="field">
			<strong>Date</strong><br />
    		<%=  @ordonnance.date %>
  		</div>
  		<div class="field">
			<strong>Caisse</strong><br />
    		<%=  @ordonnance.caisse %>
	  	</div>
  		<div class="field">
			<strong>Mutuelle</strong><br />
    		<%=  @ordonnance.mutuelle %>
  		</div>
	<%= kine_fin_contenu_onglet 1%>
	
	<%= kine_debut_contenu_onglet 2%>
  		<div class="field">
			<strong>Prise en charge</strong><br />
    		<%=  @ordonnance.prise_en_charge %>
  		</div>
  		<div class="field">
			<strong>Type de prise en charge</strong><br />
    		<%=  @ordonnance.type_prise_en_charge %>
  		</div>

  		<div class="field">
			<strong>Nombre de scéances</strong><br />
    		<%=  @ordonnance.nombre_seances %>
  		</div>

  		<div class="field">
			<strong>Payé</strong><br />
    		<%=  @ordonnance.paye %>
  		</div>
   		<div class="field">
			<strong>Bilan</strong><br />
    		<%=  @ordonnance.bilan %>
		</div>
		<%= kine_fin_contenu_onglet 2%>
		
<%= kine_fin_contenu_onglets%>