<header>
  <%= link_to( (logo :height=>"70"), root_path )%>
  
<nav class="right">
	<%= minor_button_group do %>    
		<%= big_home_pill_button_link_to "Home", root_path %>
      <% if signed_in? %>
		<%= big_pill_button_link_to "Profile", current_user %>
 	  	<%= big_settings_pill_button_link_to "Param", edit_user_path(current_user) %>
      <%= big_chat_pill_button_link_to "Aide", help_path %>
      	<%= big_lock_negative_pill_button_link_to "Sign out", signout_path, :method => :delete %>
      <% else %>
      	<%= big_key_positive_pill_button_link_to "Sign in", signin_path %>
      <% end %>
	<% end %>
  </nav>
<br />
<br />
  <nav class="centrage"><!--Ici on fait un accès aux pages qui ont un réel contenu et une utilité métier-->
	<% if signed_in? %>
		<%= button_group do%>
			<%= big_log_button_link_to "Ordonnances", ordonnances_path %>
			<%= big_user_button_link_to "Patients", patients_path %>
    		<%= big_calendar_button_link_to "Séances", seances_path %>    
			<%= big_favorite_button_link_to "Praticiens", users_path %>
			<%= big_clock_button_link_to "Rdv", rdvs_path %>
		<% end %>
	<% end %>
  </nav>	
</header>
<br />
