<header data-role="header" data-id="headerPrincipal"   role="contentinfo"  data-add-back-btn="true"> <!-- data-position="fixed" pouur avoir un accès en tapant pour un mode plein écran -->
<h1>iKine</h1>
<nav  data-role="navbar" data-id="navBarHaut">
			<ul>
				<li><%= link_to "Home", root_path , "data-icon" => "home"%></li>
				<% if signed_in? %>
				<li><%= link_to "Profile", current_user %></li>
				<li><%= link_to "Param", edit_user_path(current_user) , "data-icon" => "gear"%></li>
				<li><%= link_to "Sign out", signout_path, :method => :delete , "data-icon" => "delete"%></li>
				<% else %>
			      	<li><%= link_to "Sign in", signin_path %></li>
			    <% end %>
			</ul>
  </nav>
</header>
<% if signed_in? %>
	<nav  data-role="navbar" data-id="navBarEntite">
		<ul>
			<li><%= link_to "Patients", patients_path %></li>
			<li><%= link_to "Praticiens", users_path %></li>
			<li><%= link_to "Ordonnances", ordonnances_path %></li>
			<li><%= link_to "Seances", seances_path %></li>
		</ul>
	</nav>
<% end %>

