<header>
  <%= link_to( (logo :height=>"70"), root_path )%>
  
<nav >
	<%= minor_button_group do %>    
		<%= pill_button_link_to "Home", root_path %>
      <% if signed_in? %>
		<%= pill_button_link_to "Profile", current_user %>
 	  	<%= settings_pill_button_link_to "Param", edit_user_path(current_user) %>
      <%= pill_button_link_to "Aide", help_path %>
      	<%= negative_pill_button_link_to "Sign out", signout_path, :method => :delete %>
      <% else %>
      	<%= positive_pill_button_link_to "Sign in", signin_path %>
      <% end %>
	<% end %>
  </nav>
  <nav ><!--Ici on fait un accès aux pages qui ont un réel contenu et une utilité métier-->
	<% if signed_in? %>
		<%= button_group do%>
			<%= log_button_link_to "Ordonnances", ordonnances_path %>
			<%= user_button_link_to "Patients", patients_path %>
    		<%= calendar_button_link_to "Seances", seances_path %>    
			<%= button_link_to "Praticiens", users_path %>
		<% end %>
	<% end %>
  </nav>	
</header>
<br />
