<!DOCTYPE html> 
<html> 
	<head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag "/jquery.mobile-1.0a4.1/jquery.mobile-1.0a4.1.css"%>
    <%= javascript_include_tag :defaults,"/jquery.mobile-1.0a4.1/jquery.mobile-1.0a4.1.js", "mobile" %>
    <%= yield(:head) %>
  </head>
  <body>
	<div data-role="page">
		<%= link_to "Full Site", root_url(:mobile => 0), :class => "button", :rel => "external" %>

		<div data-role="header">
		 <%= render 'layouts/header' %>
		</div><!-- /header -->
		 <% unless flash.empty? %>
	        <div class="info">
	        <%- flash.each do |name, msg| -%>
	          <%= content_tag :div, msg, :id => "flash_#{name}" %>
	        <%- end -%>
	        </div>
	      <% end %>

	      <%= yield %>
		

		<div data-role="footer">
			<h4>Page Footer</h4>
		</div><!-- /footer -->
	</div><!-- /page -->

	</body>
</html>   


  	