<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
	<%= javascript_include_tag :defaults, "rails.validations", "rails.validations.custom", "jquery.tokeninput" %>
	<%= javascript_include_tag "autocomplete-rails.js" %>
  </head>
  <body>
    <div class="container">
	<p>
		<% if mobile_device? %>
			<%= link_to "Site Complet", :mobile => 0 %>	
		<% else %>
		    <%= link_to "Site pour mobile", :mobile => 1 %>
		<% end %>
	</p>
      <%= render 'layouts/header' %>
      <section class="round">
		<% flash.each do |key, value| %>
		  <%= content_tag(:div, value, :class => "flash #{key}") %>
		<% end %>
	    <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
	  <%= debug(params) if Rails.env.development? %><!-- Cette ligne sert à pouvoir debogger le Ruby-->
    </div>
  </body>
</html>
