<!DOCTYPE html> 
<html> 
	<head>
    	<%= render 'layouts/stylesheets' %>
    	<%= javascript_include_tag "jquery","/jquery.mobile-1.0b1/jquery.mobile-1.0b1.js", "mobile" , "rails.validations", "rails.validations.custom"%>
    	<%= yield(:head) %>
  </head>
  <body>
	<div data-role="page" data-fullscreen="true">
		<%= link_to "Site complet", root_url(:mobile => 0), :class => "button", :rel => "external" %>
		 <%= render 'layouts/header' %><!-- /header -->
		 <% unless flash.empty? %>
	        <div class="info" >
	        <%- flash.each do |name, msg| -%>
	          <%= content_tag :div, msg, :id => "flash_#{name}" %>
	        <%- end -%>
	        </div>
	      <% end %>

	      <%= yield %>
		
		 <%= render 'layouts/footer' %><!-- /footer -->
	</div><!-- /page -->

	</body>
</html>   


  	